
// Font sizes
$base-font-size: 16px;
$base-font-weight: 500;

// Colors
$primaryColor: #343957;
$greyColor: #cdcdcd;
$greyBackground: #ebebeb;
$white: #ffffff;
$hoverBackground: #4b59ff;
$logoText: rgba(160,180,200,.85);


// Screen widths
$largeTablet: 991px;
$smallTablet: 767px;
$phone: 478px;

// Buttons
$btn-blue: #4b59ff;


