.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61daf2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  position:fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  &__icon {
    z-index: 1000;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(150, 150, 150, 0.5);

    svg {
      z-index: 1000;
    }
  }
}
